.menu-item {
  display: flex;
  max-width: 520px;
  margin: 10px;
}

.photo {
  object-fit: cover;
  height: 200px;
  border: 0.25rem solid green;
  border-radius: 5px;
  margin-right: 10px;
}

.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted green;
  color: white;
}

.item-info h4 {
  margin-bottom: 0.5rem;
  color: white;
}

.price {
  color: green;
}

.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
  text-align: left;
  color: white;
}

.menu-items-wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-top: 50px;
}
